<div class="app-layout">
  @if (user) {
  <div class="d-flex h-100">
    <app-nav-bar [user]="user"></app-nav-bar>
  </div>
  <div class="d-flex container flex-column header p-0">
    @if (userProfile ) {
    <app-haeder-profile [user]="userProfile"></app-haeder-profile>
    }
    <div class="container profile">
      <div class="row f-flex justify-content-center scrollable-row">
        @for ( post of posts; track post.id) {
        <app-post
          class="d-flex justify-content-center align-items-center flex-column"
          [post]="post"
          [user]="user"
        />
        }
      </div>
    </div>
  </div>
  }
</div>
