.profile {
  list-style-type: none;
  margin: -0.1rem;
  padding: 0;
  
}

.scrollable-row {
  height: 100%;
  overflow-y: auto;
}


.scrollable-row::-webkit-scrollbar {
  display: none;
}

.justify-self-center {
    justify-self: center;
}

