@if (post_id) {
<app-delete-post-popup (deleted)="onPostDeleted($event)" [id]="post_id" (error)="setError($event)"></app-delete-post-popup>
}

 @if(errro) {
<app-error-show [error]="errro"></app-error-show>
}
<div class="container profile">
  <div class="row f-flex justify-content-center">
    <app-post-form (addPost)="onPostAdd($event)"></app-post-form>
    @for ( post of posts; track post.id) {
    <app-post
      class="d-flex justify-content-center align-items-center flex-column"
      [post]="post"
      (addPost)="addPost($event)"
    />
    }
  </div>
</div>
