/* Global layout container */
.app-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* app-sidebar {
  width: 250px; 
  background-color: #212529; 
  color: white;
  flex-shrink: 0;
  overflow-y: auto;
} */

app-posts-container {
  flex-grow: 1;
  background-color: #c3d2e2;
  padding: 20px;
}

.posts::-webkit-scrollbar {
  display: none;
}

.posts {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@media (max-width: 768px) {
  /* app-sidebar {
    width: 70px; 
  } */

  app-post {
    padding: 10px;
  }
}
