/* Global layout container */
.app-layout {
  display: flex;
  height: 100vh; 
  overflow: hidden;
}


/* app-sidebar {
  width: 250px; 
  background-color: #212529; 
  color: white;
  flex-shrink: 0;
  overflow-y: auto;
} */


app-post {
  flex-grow: 1;
  background-color: #f8f9fa;
  overflow-y: auto;
  padding: 20px;
}

@media (max-width: 768px) {
  /* app-sidebar {
    width: 70px; 
  } */

  app-post {
    padding: 10px;
  }
}
