<div class="container bg-secondary rounded p-4 form-container">
  <form #post="ngForm" (ngSubmit)="sumbet(post)">
    <div class="mb-3">
      <div class="mb-3">
        <label for="content" class="form-label">Content for your Post</label>
        <textarea
          class="form-control"
          name="content"
          id="content"
          rows="3"
          minlength="3"
          required
          ngModel
        ></textarea>
      </div>
    </div>

    <div class="mb-3">
      <label for="image" class="form-label">Choose image/video</label>
      <input
        type="file"
        class="form-control"
        id="image"
        placeholder="Show your image"
        aria-describedby="fileHelpId"
        accept="image/*,video/*"
        (change)="onFileChange($event)"
      />
    </div>

    <button type="submit" class="btn btn-primary w-100" [disabled]="!post.valid">Post</button>
    @if (error) {
    <div class="alert alert-danger mt-2 error" role="alert">error: {{ error }}</div>
    }
  </form>
</div>
