<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark w-100">
  <div
    class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
  >
    <a
      href="/"
      class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
    >
      <i class="bi bi-bootstrap fs-2"></i><span class="fs-5 d-none d-sm-inline"> 01Blog</span>
    </a>
    <ul
      class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
      id="menu"
    >
      <li class="nav-item">
        <a href="#" class="nav-link align-middle px-0">
          <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#submenu1" class="nav-link px-0 align-middle">
          <i class=" fs-4 bi-bell"></i>
          <span class="ms-1 d-none d-sm-inline">Notification</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-0 align-middle">
          <i class="fs-4 bi-search"></i> <span class="ms-1 d-none d-sm-inline">Search</span></a
        >
      </li>
      <li class="nav-item" >
        <a href="#submenu2" class="nav-link px-0 align-middle">
          <i class="fs-4 bi-person"></i>
          <span class="ms-1 d-none d-sm-inline">Profile</span></a
        >
      </li>
      <li class="nav-item">
        <a href="#submenu3" class="nav-link px-0 align-middle">
          <i class="fs-4 bi-sliders"></i> <span class="ms-1 d-none d-sm-inline">DashBord</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-0 align-middle">
          <i class="fs-4 bi-box-arrow-right"></i>
          <span class="ms-1 d-none d-sm-inline">Logout</span>
        </a>
      </li>
    </ul>
    <hr />
    <div class="dropdown pb-4">
      <a
        href="#"
        class="d-flex align-items-center text-white text-decoration-none"
        id="dropdownUser1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img src="img_avatar.png" alt="hugenerd" width="30" height="30" class="rounded-circle" />
        <span class="d-none d-sm-inline mx-1">loser</span>
      </a>
    </div>
  </div>
</div>
