.profile-img-list {
  list-style-type: none;
  margin: -0.1rem;
  padding: 0;
}

.justify-self-center {
    justify-self: center;
}

.profile .profile-img-list .profile-img-list-item.main {
  width: 50%;
}
.profile .profile-img-list:after,
.profile .profile-img-list:before {
  content: '';
  display: table;
  clear: both;
}
.profile .profile-img-list .profile-img-list-item {
  width: 25%;
  padding: 0.1rem;
  float: left;
}

.profile .profile-img-list .profile-img-list-item .profile-img-list-link {
  display: block;
  padding-top: 60%;
  overflow: hidden;
  position: relative;
}

.profile .profile-img-list .profile-img-list-item .profile-img-list-link .profile-img-content,
.profile .profile-img-list .profile-img-list-item .profile-img-list-link img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.profile
  .profile-img-list
  .profile-img-list-item
  .profile-img-list-link
  .profile-img-content:before,
.profile .profile-img-list .profile-img-list-item .profile-img-list-link img:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.profile .profile-img-list .profile-img-list-item {
  width: 25%;
  padding: 0.1rem;
  float: left;
}

.profile .profile-img-list:after,
.profile .profile-img-list:before {
  content: '';
  display: table;
  clear: both;
}

.profile .profile-img-list .profile-img-list-item.with-number .profile-img-number {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #000;
  font-size: 1.53125rem;
  font-weight: 600;
  line-height: 1.625rem;
  margin-top: -0.765625rem;
  text-align: center;
  text-shadow: 2px 2px #fff;
}

.update-item:hover {
  background-color: #e7f1ff;
}
.delete-item:hover {
  background-color: #fff3cd;
}
.report-item:hover {
  background-color: #ffb2ba;
}
